.wrapper {
	display: flex;
}

.stick {
	height: 450px;
	width: 10px;
	background: black;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.flag {
	width: 270px;
	height: 180px;
	box-shadow: 0px 0px 90px 1px #989;
	background-color: white;
	position: relative;
}
.top{
    height: 90px;
    width: 90px;
    background-color: #001fbd;
}


.bottom {
    height: 125px;
    background-color: red;
}

.five-pointed-star {
    --star-color:white;
    margin:1em auto;
    position: relative;
    display: inline-flex;
    width: 0px;
    height: 0px;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(35deg);
}
.five-pointed-star:before {
    border-bottom: 0.8em solid var(--star-color);
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.45em;
    left: -0.65em;
    display: block;
    content:"";
    transform: rotate(-35deg);
}
.five-pointed-star:after {
    position: absolute;
    display: block;
    top: 0.03em;
    left: -1.05em;
    width: 0;
    height: 0;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(-70deg);
    content:"";
   }
